*.js
!jest.config.js
*.d.ts
*.zip
node_modules
coverage
.nyc_output

# CDK asset staging directory
.cdk.staging
cdk.out
cdk-exports.json


# dotenv environment variables file
.env

.env.prod
.env.test
.env.dev

# do not ignore migrations
!migrations/*.js

!config/*
